<md-dialog style="width: 60%;" class="task-dialog" aria-label="New Task">
    <md-toolbar class="md-accent md-hue-2 ">
        <div class="md-toolbar-tools md-accent-fg md-hue-3 header_otog_popup" layout="row" layout-align="space-between center">
            <span class="title flex">{{ action}} Product</span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>

        <md-button type="submit"  ng-click="printDetails()" class="send-button md-primary md-raised" aria-label="Print Details">
            Print Details
        </md-button>

        <!--            <div class="dropzone" id="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone>
                    </div>-->

        <div class=" layout-align-space-between-stretch layout-column" layout="column" layout-align="space-between">

            <md-card>
                <md-card-header class="md-primary-fg">
                    Seller info
                </md-card-header>
                <md-card-content>
                    <div layout="row" >

                        <div flex-xs="50" flex="25"> 
                            <b>Seller Name</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            {{product_quotation.product_id.seller_name}}
                        </div>
                        <div flex-xs="50" flex="25"> 
                            <b>Seller Phone</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            {{product_quotation.product_id.sellerid.phone}}
                        </div>
                    </div>
                    <div layout="row" >
                        <div flex-xs="50" flex="25"> 
                            <b>Seller Email</b>
                        </div>
                        <div flex-xs="50" flex="25">
                            {{product_quotation.product_id.seller_email}}
                        </div>

                    </div>
                    <!--                    <div layout="row" >
                    
                                            
                                        </div>-->

                </md-card-content>
            </md-card>

            <md-card>
                <md-card-header class="md-primary-fg">
                    Product info
                </md-card-header>
                <md-card-content>
                    <div layout="row" >
                        <div flex-xs="50" flex="25">
                            <b>SKU</b>
                        </div>
                        <div flex-xs="50" flex="25">
                            {{ product_quotation.product_id.sku}}
                        </div>
                    </div>
                    <div layout="row" >

                        <div flex-xs="50" flex="25">
                            <b>Name</b>
                        </div>
                        <div flex-xs="50" flex="25" ng-if="!admin">
                            {{ product_quotation.product_id.name}}
                        </div>

                        <div flex-xs="50" flex="25"  >
                            <b>Estimated Retail Price</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            {{ product_quotation.product_id.price}}
                        </div>
                    </div>
                    <div layout="row" >
                        <div flex-xs="50" flex="25"  >
                            <b>Quantity</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            {{ product_quotation.quantity}}
                        </div>
                        <div flex-xs="50" flex="25"  >
                            <b>Suggested Price</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            {{ product_quotation.tlv_suggested_price_max}}
                        </div>

                        <!--                        <div flex-xs="50" flex="25"  >
                                                    <b>Description</b>
                                                </div>
                                                <div flex-xs="50" flex="25"  >
                                                    {{ product_quotation.product_id.description}}
                                                </div>-->

                    </div>
                    <!--                    <div layout="row" >
                                            <div flex-xs="50" flex="25"  >
                                                <b>Suggested Price</b>
                                            </div>
                                            <div flex-xs="50" flex="25"  >
                                                {{ product_quotation.tlv_suggested_price}}
                                            </div>
                                                                    <div flex-xs="50" flex="25"  >
                                                                        <b>Dimensions</b>
                                                                    </div>
                                                                    <div flex-xs="50" flex="25"  >
                                                                        {{ product_quotation.dimensions}}
                                                                    </div>
                                        </div>-->

                    <div layout="row" >
                        <!--                        <div flex-xs="50" flex="25"  >
                                                    <b>Materials</b>
                                                </div>
                                                <div flex-xs="50" flex="25"  >
                                                    {{ product_quotation.materials}}
                                                </div>-->

                        <div flex-xs="50" flex="25"  >
                            <b>Short Description</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            {{ product_quotation.sort_description}}
                        </div>
                    </div>
<!--                    <div layout="row" >
                        <div flex-xs="50" flex="25"  >
                            <b>State</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            {{ product_quotation.product_id.state}}
                        </div>

                        <div flex-xs="50" flex="25"  >
                            <b>City</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            {{ product_quotation.product_id.city}}
                        </div>
                    </div>-->
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-header class="md-primary-fg">
                    Stock Details:
                </md-card-header>
                <md-card-content>
                    <div layout="row" >
                        <div flex-xs="50" flex="25">
                            <b>Stock Status</b>
                        </div>
                        <div flex-xs="50" flex="25" class="text-capitalize">
                            {{ product_quotation.stock_status}}
                        </div>

                        <div flex-xs="50" flex="25"  >
                            <b>Manage Stock</b>
                        </div>
                        <div flex-xs="50" flex="25"  class="text-capitalize">
                            {{ product_quotation.manage_stock}}
                        </div>
                    </div>
                    <div layout="row" >
                        <div flex-xs="50" flex="25">
                            <b>Tax Status</b>
                        </div>
                        <div flex-xs="50" flex="25" class="text-capitalize">
                            {{ product_quotation.tax_status}}
                        </div>

                        <div flex-xs="50" flex="25"  >
                            <b>Tax Class</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            {{ tax_class[product_quotation.tax_class]}}
                        </div>
                    </div>


                    <div layout="row" >
                        <div flex-xs="50" flex="25">
                            <b>Shipping Class</b>
                        </div>
                        <div flex-xs="50" flex="25">
                            {{ getShipingClass(product_quotation.shipping_class)}}
                        </div>
                    </div>
                </md-card-content>

            </md-card>
            <md-card>
                <md-card-header class="md-primary-fg">
                    Dimensions:
                </md-card-header>
                <md-card-content>
                    <div layout="row" >
                        <div flex-xs="50" flex="25">
                            <b>Width</b>
                        </div>
                        <div flex-xs="50" flex="25">
                            {{ product_quotation.width}}
                        </div>

                        <div flex-xs="50" flex="25"  >
                            <b>Height</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            {{ product_quotation.height}}
                        </div>
                    </div>
                    <div layout="row" >
                        <div flex-xs="50" flex="25">
                            <b>Length</b>
                        </div>
                        <div flex-xs="50" flex="25">
                            {{ product_quotation.length}}
                        </div>

                        <div flex-xs="50" flex="25"  >
                            <b>Weight</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            {{ product_quotation.weight}}
                        </div>
                    </div>
                </md-card-content>

            </md-card>

            <md-card>
                <md-card-header class="md-primary-fg">
                    Category info
                </md-card-header>
                <md-card-content>
                    <div layout="row" >

                        <div flex-xs="50" flex="25">
                            <b>Brand</b>
                        </div>
                        <div flex-xs="50" flex="25" ng-if="!admin">
                            {{ product_quotation.product_id.brand.sub_category_name}}
                        </div>

                        <div flex-xs="50" flex="25"  >
                            <b>Category</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            {{ product_quotation.product_id.category.sub_category_name}}
                        </div>


                    </div>

                    <div layout="row" >

                        <!--                        <div flex-xs="50" flex="25"  >
                                                    <b>Collection</b>
                                                </div>
                                                <div flex-xs="50" flex="25"  >
                                                    {{ product_quotation.product_id.collection.sub_category_name}}
                                                </div>-->

                        <div flex-xs="50" flex="25"  >
                            <b>Room</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            <span ng-repeat="room in product_quotation.product_id.product_room">{{ room.sub_category_name}}<span ng-if="!$last">,</span></span>
                        
                            <!--{{ product_quotation.product_id.room.sub_category_name}}-->
                        </div>
                        <div flex-xs="50" flex="25"  >
                            <b>Color</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            <span ng-repeat="room in product_quotation.product_id.product_color">{{ room.sub_category_name}}<span ng-if="!$last">,</span></span>
                        
                            <!--{{ product_quotation.product_id.color.sub_category_name}}-->
                        </div>
                    </div>

                    <!--<div layout="row" >-->


                    <!--                        <div flex-xs="50" flex="25"  >
                                                <b>Look</b>
                                            </div>
                                            <div flex-xs="50" flex="25"  >
                                                {{ product_quotation.product_id.look.sub_category_name}}
                                            </div>-->


                    <!--</div>-->
                    <div layout="row" >
                        <div flex-xs="50" flex="25"  >
                            <b>Condition</b>
                        </div>
                        <div flex-xs="50" flex="25"  >
                            {{ product_quotation.product_id.con.sub_category_name}}
                        </div>

                    </div>
                </md-card-content>
            </md-card>
            <md-card ng-if="product_quotation.product_id.product_pending_images.length > 0">
                <md-card-header class="md-primary-fg">
                    Images
                </md-card-header>
                <md-card-content class="center_images">
                    <div layout="row" ng-repeat="image in product_quotation.product_id.product_pending_images" class="display_inline">
                        <img src="/Uploads/product/{{image.name}}" style="height: 100px; width: 100px;">

                    </div>
                </md-card-content>
            </md-card>

        </div> 

    </md-dialog-content>


</md-dialog>
<style>
    .datepickerdemo md-content {
        padding-bottom: 200px; 
    }
    .datepickerdemo .validation-messages {
        font-size: 11px;
        color: darkred;
        margin: 10px 0 0 25px; 
    }

    .dropzone .dz-message{
        margin:0;
        left: 0;

        top: 0;
        transform: none;
    }
    .dropzone .dz-message img{
        border-radius: 10px;
    }
    #dropzone {
        position: relative;
        border: 3px solid #ccc;
        border-radius: 20px;
        color: #ccc;
        font: bold 24px/150px arial;
        height: 150px;
        margin: 0px auto;
        padding: 0  ;
        text-align: center;
        width: 150px;
    }

    #dropzone.hover {
        border: 10px solid #FE5;
        color: #FE5;
    }


    .dropzone .dz-preview
    {
        width: auto;
        padding:0;
        margin:0
    }
    .dropzone .dz-preview img,.dropzone .dz-preview .dz-image
    {
        width: auto;
        height: auto;
    }
    .center_images{
        text-align: center;
    }
    .display_inline{
        display: inline-block;
        margin-left: 10px;
    }


</style>