Header set Cache-Control "no-cache, private"

<IfModule mod_dtimeout.c>
<Files ~ ".php">
SetEnvIf Request_URI "index.php" DynamicTimeout=300
</Files>
</IfModule>
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
    # Dont rewrite files or directories
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
  
    # Rewrite everything else to index.html to allow html5 state links
    RewriteRule ^ index.html [L]
</IfModule>
