<div layout="column" class="page-layout simple fullwidth  layout-column" id="calendar">
    <div  class="header header_nov">

        <div layout-align="space-between" layout="column" class="header-content layout-align-space-between-stretch layout-column">
            <div layout-xs="column" layout-align="space-between center" layout="row" class="header-top layout-xs-column layout-align-space-between-center layout-row">

                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" ui-sref="dashboard" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">Storage Proposal Report</span>
                </div>
                <button ng-click="goBack()"  type="button" class="md-fab md-primary md-button  md-custom-theme md-ink-ripple" style="width: 36px !important; height: 36px !important;"   aria-label="Search">
                    <md-icon md-font-icon="icon-arrow-left-bold-circle-outline" class=" md-custom-theme md-font material-icons icon-arrow-left-bold-circle-outline" aria-hidden="true"></md-icon>
                    <md-tooltip><span>BACK</span></md-tooltip>
                </button>
            </div>
            <div layout-xs="column" layout-align="space-between center" layout="row" class="header-top layout-xs-column layout-align-space-between-center layout-row">


                <div layout-align="start center" layout="row" class="logo layout-align-start-center layout-row">
                    <span class="logo-icon">
                        <md-icon md-font-icon="icon-layers" class="md-custom-theme md-font material-icons icon-layers" aria-hidden="true"></md-icon></span>
                    <div layout="column">
                        <span class="logo-text ">Storage Proposal Report</span>
                    </div>
                </div>
                <div layout-align="start center" layout="row" class="toolbar layout-align-start-center layout-row">
                </div>
            </div>
        </div>
    </div>
    <div class="content" id="content1">
        <div calendar="main" id="calendarView" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty fc fc-ltr fc-unthemed" aria-invalid="false">
            <div class="white-bg md-whiteframe-4dp" layout="column">
                <div layout="row">
                    <!--                    <div layout="row" layout-xs="column">-->
                    <div flex>
                        <md-input-container class="md-block">
                            <label>Seller Name</label>
                            <md-select ng-model="product_report.seller_id">
                                <md-select-header class="demo-select-header">
                                    <input ng-keydown="$event.stopPropagation()" ng-model="searchTerm1" type="search" placeholder="Search for a seller" class="demo-header-searchbox md-text">
                                </md-select-header>
                                <md-option ng-repeat="s in sellers| filter:searchTerm1" value="{{s.id}}">
                                    <em ng-if="s.displayname.trim() != ''">{{s.displayname}}</em> 
                                    <em ng-if="s.displayname.trim() == ''">{{s.firstname}} {{s.lastname}}</em>
                                </md-option>
                            </md-select> 
                            <div ng-messages="productReportForm.seller_id.$error" ng-show="productReportForm.seller_id.$invalid" role="alert">
                                <div ng-message="required">
                                    <span>Seller Name is required</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <mdp-date-picker style="margin:10px;" mdp-open-on-click name="dateFormat" mdp-placeholder="Start Date" mdp-format="M/D/YYYY" ng-model="product_report.start_date" required>
                    </mdp-date-picker>
                    <mdp-date-picker style="margin:10px;" mdp-open-on-click name="dateFormat" mdp-placeholder="End Date" mdp-format="M/D/YYYY" ng-model="product_report.end_date" required>
                    </mdp-date-picker>
                    <button style="height: 40px;" sglclick="generateReport()" class="md-raised md-primary md-button md-default-theme md-ink-ripple" type="button">
                        Generate
                        <div class="md-ripple-container"></div>
                    </button>
<!--                    <button style="height: 40px;" sglclick="generateReportExcel()" class="md-raised md-primary md-button md-default-theme md-ink-ripple" type="button">
                        Export Excel
                        <div class="md-ripple-container"></div>
                    </button>-->

                </div>

                <div layout="row" ng-if="product_report.seller_id">
                    <div class="white-bg md-whiteframe-4dp" layout="column">
                        <div layout="row">
                            <span>Seller Name: </span>
                            <span ng-if="renderSeller(product_report.seller_id).displayname.trim() != ''"><b><em>{{renderSeller(product_report.seller_id).displayname}}</em></b></span>
                            <span ng-if="renderSeller(product_report.seller_id).displayname.trim() == ''"><b><em>{{{renderSeller(product_report.seller_id).firstname}} {{renderSeller(product_report.seller_id).lastname}}</em></b></span>
                        </div>
                        <div layout="row">
                            <span>Address: </span>
                            <span><b><em>{{renderSeller(product_report.seller_id).address}}</em></b></span>

                        </div>
                        <div layout="row">
                            <span>Email: </span>
                            <span><b><em>{{renderSeller(product_report.seller_id).email}}</em></b></span>

                        </div>
                        <div layout="row" ng-if="renderSeller(product_report.seller_id).phone && renderSeller(product_report.seller_id).phone != 0">
                            <span>Phone: </span>
                            <span><b><em>{{renderSeller(product_report.seller_id).phone}}</em></b></span>

                        </div>

                    </div>
                </div>
                <div ng-if="is_generate_report" layout="column">
                    <div flex class="product accordian" layout="column">
                        <div class="padding-10">
                            <div>
                                <table class="row-border hover ng-isolate-scope dataTable no-footer proposal_table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Download File
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in details_all['product']['data']">
                                            <td>
                                                {{renderDate(product.created_at)}}
                                            </td>
                                            <td>
                                                <a ng-if="product.pdf != ''" download target="_blank" href="/Uploads/storage_agreement_pdf/{{product.pdf}}">
                                                    {{product.pdf}}
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>





                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .padding-10{
        padding: 10px;
    }
    .product{
        margin-bottom: 15px;
    }
    .accordian{
        background-color: silver;
        padding: 10px;
        border-radius: 10px;
    }
    .proposal_table tbody tr td
    {
        /*height: 40px !important;*/
        padding: 10px;
    }
    .proposal_table tr td:first-child
    {
        padding-top:0 !important;
        margin-top:0 !important;
        padding-bottom:0 !important;
        margin-bottom:0 !important;
    }
    .proposal_table tr td:last-child
    {
        /*        position:relative;
                padding-top:0 !important;
                padding-bottom:0 !important;
                margin-top:0 !important;
                margin-bottom:0 !important;*/
    }
    md-fab-speed-dial.md-fab-top-right
    {
        transform: translate(-110px, 0px);
        -webkit-transform: translate(-110px, 0px);
        -ms-transform: translate(-110px, 0px);

        left:0;
        top:0;
    }
    td{
        word-break: break-word;
        min-width: 50px;
    }
    /*    md-fab-speed-dial.md-fab-top-right {
            transform: unset;
        }*/


</style>