<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <!--<div class="logo md-accent-bg">-->
            <!--<span>F</span>-->
            <img src="../../../../assets/images/site_logo.png">
            <!--</div>-->

            <div class="title">Recover Your Password</div>

            <div  class="md-priam-bg" ng-show="success_exist">{{success_exist_text}}</div>
            <div  class="md-warn-bg" ng-show="error_exist">{{error_exist_text}}</div>


            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <span class="text">Please enter your email address so that we send you link for reset password.</span>                
            </div>
            <form name="forgotPasswordForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="email" placeholder="Email"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="forgotPasswordForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span>Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>


                <md-button type="submit" ng-click="forgotPassword()" class="md-raised md-primary submit-button" aria-label="Send Mail"
                           ng-disabled="forgotPasswordForm.$invalid || forgotPasswordForm.$pristine">SEND RESET LINK
                </md-button>
            </form>
            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <!--<span class="text">Don't have an account?</span>-->
                <a class="link md-accent-fg" ui-sref="login()">Login</a>
            </div>


        </div>
    </div>
</div>