<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <!--<div class="logo md-accent-bg">-->
            <!--<span>F</span>-->
            <img src="../../../../assets/images/logo2.png">
            <!--</div>-->

            <div class="title">Welcome to OTOG Airline Catering</div>

            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <span class="text">Don't have an account ?</span>
            </div>
            <md-button ui-sref="signup()" type="button" class="md-raised md-primary" aria-label="SIGN UP">
                Sign Up
            </md-button>
            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <span class="text">Already have an account ?</span>
            </div>
            <md-button ui-sref="login()" type="button" class="md-raised md-primary" aria-label="SIGN IN">
                Sign In
            </md-button>

        </div>
    </div>
</div>