<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <!--<div class="logo md-accent-bg">-->
            <!--<span>F</span>-->
            <img src="../../../../assets/images/site_logo.png">
            <!--</div>-->

            <div class="title">Reset Password</div>

            <form name="resetPasswordForm" novalidate>
                <input ng-hide="1"  ng-model="user.token">
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="user.email" placeholder="Email"
                           ng-pattern="/^.+@.+\..+$/" required readonly="true">
                    <div ng-messages="resetPasswordForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span>Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" id="password" ng-model="user.password" placeholder="Password"
                           required>
                    <div ng-messages="resetPasswordForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>Password field is required</span>
                        </div>
                    </div>
                </md-input-container>
                
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="confirm_password" id="confirm_password" ng-model="user.confirm_password" placeholder="Confirm Password"
                           required>
                    <div ng-messages="resetPasswordForm.confirm_password.$error" role="alert">
                        <div ng-message="required">
                            <span>Confirm Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

               
                <md-button ng-click="resetPassword()" type="submit" class="md-raised md-primary submit-button" aria-label="RESET PASSWORD"
                           ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine">                    RESET PASSWORD
                </md-button>
                <md-button ui-sref="login()" class="md-raised  md-accent-fg submit-button" aria-label="LOG IN">                    LOG IN
                </md-button>
            </form>

        </div>
    </div>
</div>