<div layout="column" class="page-layout simple fullwidth  layout-column" id="calendar">
    <div  class="header header_nov">
        <div layout-align="space-between" layout="column" class="header-content layout-align-space-between-stretch layout-column">
            <div layout-xs="column" layout-align="space-between center" layout="row" class="header-top layout-xs-column layout-align-space-between-center layout-row">
                <div class="breadcrumb" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-home" class="s16"></md-icon>
                    <md-icon md-font-icon="icon-chevron-right" class="s16 separator"></md-icon>
                    <span class="parent">Agent Report</span>
                </div>
                <button ng-click="goBack()"  type="button" class="md-fab md-primary md-button  md-custom-theme md-ink-ripple" style="width: 36px !important; height: 36px !important;"   aria-label="Search">
                    <md-icon md-font-icon="icon-arrow-left-bold-circle-outline" class=" md-custom-theme md-font material-icons icon-arrow-left-bold-circle-outline" aria-hidden="true"></md-icon>
                    <md-tooltip><span>BACK</span></md-tooltip>
                </button>
            </div>
            <div layout-xs="column" layout-align="space-between center" layout="row" class="header-top layout-xs-column layout-align-space-between-center layout-row">
                <div layout-align="start center" layout="row" class="toolbar layout-align-start-center layout-row">


                </div>
            </div>
        </div>
        <!--        
        <button  type="button" class="add-event-button md-fab md-warn md-button  md-custom-theme md-ink-ripple" ng-click="openProductAddDialog()">
            <md-icon md-font-icon="icon-plus" class="md-custom-theme md-font material-icons icon-plus" aria-hidden="true"></md-icon>
            <md-tooltip><span>Add Product</span></md-tooltip>
        </button>
        -->
    </div>
    <div class="content" id="content1">
        <div calendar="main" id="calendarView" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty fc fc-ltr fc-unthemed" aria-invalid="false">
            <div class="white-bg md-whiteframe-4dp">
                <div>
                    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"  class="row-border hover product_for_review_table">
                        <!-- 
                        <button sglclick="saveProductStatus()" class="md-raised md-primary md-button md-default-theme md-ink-ripple" type="button">
                            temp example
                            <div class="md-ripple-container"></div>
                        </button>
                        -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .product_for_review_table tbody tr td
    {
        padding: 10px;
    }
    .product_for_review_table tr td:first-child
    {
        padding-top:0 !important;
        margin-top:0 !important;
        padding-bottom:0 !important;
        margin-bottom:0 !important;
    }
    md-fab-speed-dial.md-fab-top-right
    {
        transform: translate(-110px, 0px);
        -webkit-transform: translate(-110px, 0px);
        -ms-transform: translate(-110px, 0px);
        left:0;
        top:0;
    }
</style>