SetEnv PHPRC /home/customer/www/tlv-workflowapp.com/public_html/api/php.ini
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>


# Commented by SiteGround automated systems #AddHandler application/x-httpd-php71 .php .php5 .php4 .php3
